<% provide(:title, "Edit Profile") %> 
<h1>Edit Profile</h1>

<div class="row">
  <div class="span6 offset3">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>


  <%= render 'fields', f: f %>

    <%= f.submit "Save changes", class: "btn btn-primary" %>
  <% end %>
	</div>
</div>