<footer class="footer">
  <small>
    Access to this site is strictly limited to current <a href="http://trinitypark.org/board-and-committees/">TPNA Board Members</a>
    only
  </small>
  <nav>
    <ul>
      <li> <a href="http://trinitypark.org/">Trinity Park Neighborhood Association</a> Durham, NC</li>
    </ul>
  </nav>
</footer>