<h3>Update Member</h3>

<%= form_for(@member) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= render 'fields', f: f %><br />
    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
<% end %>
  </div>
