<h1>All members</h1>

<%= form_tag members_path, :method => 'get', :id => "members_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>    
  </p>
  <div id="members"><%= render 'members' %></div>
<% end %>

