<% provide(:title, "Member List") %> 
<h1>Member List</h1>

<%= form_tag members_path, :method => 'get', :id => "members_search" do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: 'Start typing to search...' %>  
  </p>
  <div id="members"><%= render 'members' %></div>
<% end %>

